body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.add-user {
  background-color: #2196f3;
  margin-right: 10px;
  height: 40px;
  width: 120px;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}
.profile{
  height: 100px;
  width: 100px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-card {
  flex-basis: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.user-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-card p {
  margin: 0;
}

.user-card button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.user-card button.edit {
  background-color: #2196f3;
  margin-right: 10px;
}